
/*
  Sass modules,
  imports rule for navigation bar
  imports variables used for colors
*/ 
@use 'nav';

@use 'variables';




body {
  background: #202020 url('/images/footer-bg.jpg') repeat;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  /* input, techarea and select tags nested in the body for better readability 
  */
  &, input, textarea, select {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 11pt;
    line-height: 1.75em;
  }
}


h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;

  // anchor tags nested in the h1 thru h6 for better readability 
  a {
    /* gets color from parent element,
    in this case its from the h1 thru h6 
    */
    color: inherit;
    // gets rid of underline 
    text-decoration: none;
  }
}


strong,
b {
  font-weight: bold;
  color: variables.$bold;
}

em,
i {
  font-style: italic;
}

a {
  color: variables.$blue;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-top: solid 1px variables.$grey;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}

header {
  margin-bottom: 2em;
  line-height: 1.7em;
}

header h2 {
  font-size: 2.5em;
}

header .byline {
  display: block;
  margin: 0.5em 0 0 0;
  padding: 0 0 0.5em 0;
  text-transform: uppercase;
  font-size: 1.4em;
}

section,
article {
  margin-bottom: 3em;
}

section > :last-child,
article > :last-child {
  margin-bottom: 0;
}

section:last-child,
article:last-child {
  margin-bottom: 0;
}

blockquote {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
}

footer {
  margin-top: 1em;
}

// nested code for better readability 
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
    &.small {
      width: 900px;
    }

    &.big {
      width: 100%;
      max-width: 1500px;
      min-width: 1200px;
    }
}

// nested code for better readability 
.row {
  margin-left: -50px;

    section, article {
      margin-bottom: 0;
    
  }
    [class*='column-'] {
      padding: 50px 0 0 50px;
      float: left;
      box-sizing: border-box;
  }

    &:after {
      content: '';
      display: block;
      clear: both;
      height: 0;
  }

}




// list to be used in loop 
.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7.column-8,
.column-9,
.column-10,
.column-11,
.column-12 {
  width: 100%;
}

@media all and (min-width: 576px) {
  /* instead of manually writing out the width for each column, 
  this loop goes thru the 12 comlumn classes and gives it a new width,
  the width is found by dividing 100% over 12 and then multiplying the result by the number of columns
  */
  @for $i from 1 through 12 {
    .column-#{$i} {
      /*
      using calc function per deprecation warning in terminal
      */
      width: calc(100% / 12) * $i;
    }
  }
}

// nested code for better readability 
.image {
  display: inline-block;
    img {
      display: block;
      width: 100%;
  }

    &.featured {
      display: block;
      width: 100%;
      margin: 0 0 2em 0;
  }
    &.full {
      display: block;
      width: 100%;
      margin-bottom: 2em;
  }
    &.left {
      float: left;
      margin: 0 2em 2em 0;
  }

    &.centered {
      display: block;
      margin: 0 0 2em 0;
  }
    &.centered img {
      margin: 0 auto;
      width: auto;
  }

}

// nested code for better readability 
ul {
  &.default,
  &.style1,
  &.style2,
  &.style5 {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &.default {
    li {
      display: block;
      padding: 2em 0 1.25em 0;
      border-top: 1px solid variables.$lightBlack;

      &:first-child {
        padding-top: 0;
        border-top: none;
      }
    }

    a {
      text-decoration: none;
      color: variables.$transparentGrey;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.style1 {
    li {
      padding: 0.6em 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      &:first-child {
        padding-top: 0;
        border-top: 0;
      }
    }
  }

  &.style2 {
    li {
      padding: 1.9em 0 1.6em 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      &:first-child {
        padding-top: 0;
        border-top: 0;
      }
    }

    img {
      float: left;
      padding-right: 1em;
    }
  }

  &.style5 {
    overflow: hidden;
    margin: 0 0 1em 0;
    padding: 0;

    li {
      float: left;
      padding: 0.25em;
      line-height: 0;
    }
  }
}

// hover state nested in button class for better readability 
.button {
  position: relative;
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.50em 1.5em;
  background: variables.$blue;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: variables.$white;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  cursor: pointer;

  &:hover {
    background: variables.$blue;
    color: variables.$white !important;
  }
}


// nested code for better readability
.header {
  position: relative;
  background: variables.$white;
  .container {
    position: relative;
    padding: 4em 0em;
  }
}

// nested code for better readability
.logo {
  position: absolute;
  left: 0em;
  top: 3em;
  & a {
    display: block;
    text-decoration: none;
    font-size: 2.8em;
    font-weight: 600;
  }
}




.banner {
  position: relative;
  padding: 12em 0em;
  background: url('/images/banner.jpg') no-repeat center;
  background-size: cover;
  color: variables.$white;
}

.page {
  position: relative;
  background: variables.$white;
}

.main {
  border-top: 1px solid;
  border-color: variables.$transparentBlack;
}

.sidebar header h2 {
  font-size: 1.6em;
}

// nested code for better readability
.footer {
  position: relative;
  color: variables.$darkTransparentGrey;
    h2 {
      padding-bottom: 1.5em;
      font-size: 1.6em;
      color: variables.$white;
  }
    strong {
    color: variables.$lightTransparentBlack;
  }
}

// nested code for better readability
.copyright {
  position: relative;
  padding: 3em 0em;
  border-top: 1px solid variables.$lightTransparentBlack;
  letter-spacing: 1px;
  text-align: center;
  color: variables.$darkTransparentGrey;

    a {
      text-decoration: none;
      color: variables.$darkTransparentGrey !important;
  }
}


// nested code for better readability
.marketing {
  position: relative;
  header h2 {
    font-size: 1.6em;
  }
}

// nested code for better readability
.featured {
  position: relative;

  .divider {
    border-bottom: 1px solid variables.$lightTransparentBlack;
  }

  .box {
    background: variables.$white;
    padding: 1.4em;
    font-size: 0.95em;
    border-radius: 5px;
  }
}

// nested code for better readability
.balloon {
  padding: 1.87em;
  background: url('/images/balloon-bg.jpg') repeat left top;
  border-radius: 5px;
  line-height: 180%;
  font-size: 1.2em;
  color: variables.$darkTransparentBlack;
  strong {
    color: variables.$darkTransparentBlack !important;
  }
}

.ballon-bgbtm {
  height: 1.87em;
}
